{% extends 'base.html' %}

{% block content %}
<div class="row">
    <div class="col">
        <nav>
            <a type="button" class="btn btn-Light border-info" href="{% url 'crear_familia' %}">Crear Grupo Familiar</a>
        </nav>
        <div class="container">
            <h1> Información del paciente:</h1>
            <p><strong>Nombres:</strong> {{ paciente.nombres }}</p>
            <p><strong>Apellidos:</strong> {{ paciente.apellidos }}</p>
            <p><strong>Identificación:</strong> {{ paciente.identificacion }}</p>
            <p><strong>Telefono:</strong> {{ paciente.telefono }}</p>
            <p><strong>Dirección:</strong> {{ paciente.direcion }}</p>
            <p><strong>Correo electrónico:</strong> {{ paciente.usuario.username }}</p>
            <hr>
            <p><b>Medico de Cabecera:</b> {{medico.medico_cabecera}}</p>
            <div class="d-grid gap-2 d-md-block">
                <a type="button" class="btn btn-primary" href="#">Reportes</a>
                <a type="button" class="btn btn-primary" href="#">Documentos</a>
                <a type="button" class="btn btn-primary" href="{% url 'seleccionar_medico' %}">Cambiar medico</a>
                <a type="button" class="btn btn-primary" href="{% url 'solicitar_atencion' %}">Solicitar atención</a>
            </div>
        </div>

    </div>
</div>
<div class="row mt-4">
    <div class="col">
        <h1>Historial de atenciones</h3>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th scope="col">fecha y hora</th>
                        <th scope="col">Descripción de la atención</th>
                        <th scope="col">Medico</th>
                        <th scope="col">Mensajes</th>

                        <th scope="col">Detalles</th>
                    </tr>
                </thead>

                {% if atenciones %}
                <tbody>


                    {% for i in atenciones %}

                    <tr>
                        <th scope="row">{{ i.fecha_atencion }}</th>
                        <td>{{ i.descripcion }}</td>
                        <td>{{ i.descripcion }}</td>
                        <td><a href="{% url 'mensaje' id_atencion=i.id %}"></a> </td>
                        <td><a typpe="button" class="btn btn-primary" href="{% url 'historial' %}"></a></td>


                    </tr>
                    {% endfor %}

                </tbody>
                {% else %}
                <div class="row">
                    <div class="col justify-content-center">
                        <br>
                        <br>
                        <h3>No existen registros en el momento</h3>
                    </div>
                </div>
                {% endif %}
            </table>
    </div>

</div>




{% endblock content %}